{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Edição</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Conta</li>
        </ol>
        <div class="row">
            <div class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="mt-4">Edite seus dados</h1>

                <form action="{% url 'editF'%}" enctype="multipart/form-data" method="post"
                    class="myform">
                    {% csrf_token %}

                    {{ form }}

                    <div class="button">
                        <button id="register">Modificar</button>
                    </div>

                    <a href="{% url 'home' %}">Voltar</a>
                </form>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</main>
{% endblock %}