{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tabelas</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Tabelas</li>
        </ol>
        <!--<div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information
                about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div>-->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Tabela de Usuário Físico
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nascimento</th>
                            <th>Idade</th>
                            <th>Profissao</th>
                            <th>Sexo</th>
                            <th>Telefone</th>
                            <th>Foto registrada</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{usuario.fis_id}}</td>
                            <td>{{usuario.fis_nascimento}}</td>
                            <td>{{usuario.fis_idade}}</td>
                            <td>{{usuario.fis_profissao}}</td>
                            <td>{{usuario.fis_sexo}}</td>
                            <td>{{usuario.fis_telefone}}</td>
                            {% if usuario.fis_foto != '' %}
                                <td><img src="{{usuario.fis_foto.url}}" alt="Lights" style="width: 300px"></td>
                            {%else%}
                                <td>Esse usuário não possui uma imagem</td>
                            {%endif%}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}