{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Cadastro</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Usuario Juridico</li>
        </ol>
        <div class="row">
            <div class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="title">Cadastrar um Usuario Juridico</h1>

                <form action="{% url 'register' %}" method="post" enctype="multipart/form-data" class="myform">
                    {% csrf_token %}

                    {{ form }}


                    <div class="button">
                        <button id="register">Registrar</button>
                    </div>

                    <!-- <a href="{% url 'read' %}">Ver usuarios (isso eh so para testar)</a> -->
                    <!-- <a href="{% url 'register_F' %}">Criar um usuario Fisico</a>
                    <a href="{% url 'registrar_G' %}">Criar um usuario Governo</a>
                    <a href="{% url 'registrar_Admin' %}">Criar um usuario Administrador</a> -->
                </form>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</main>
{% endblock %}