{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tabelas</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Tabelas</li>
        </ol>
        <!--<div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information
                about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div>-->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Tabela de Usuário Jurídico
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome do usuario</th>
                            <th>Email</th>
                            <th>Nome Fantasia</th>
                            <th>Telefone</th>
                            <th>Foto Registrada</th>
                            <th class="bg-danger" scope="col">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario2 in usuariosJ %}
                        <tr>
                            <td scope="row">{{usuario2.jur_id}}</td>
                            {% for user in users %}
                                {%if usuario2.jur_user == user%}
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                                {% endif %}
                            {% endfor %}                               
                            <td>{{usuario2.jur_nome_fantasia}}</td>
                            <td>{{usuario2.jur_telefone}}</td>
                            {% if usuario2.jur_foto != '' %}
                                <td><img src="{{usuario2.jur_foto.url}}" alt="Lights" style="width: 300px"></td>
                            {%else%}
                                <td>Esse usuário não possui uma imagem</td>
                            {%endif%}
                            {% for user in users %}
                                {%if usuario2.jur_user == user%}
                                <td>
                                    <a class="small text-danger" href="{% url 'excluir_J' usuario2.jur_id %}"><b>Excluir</b></a>
                                </td>  
                                {% endif %}
                            {% endfor %}     
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}